
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="~/Content/JS/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script src="~/Content/JS/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <script src="~/Content/JS/jquery-easyui-1.7.0/jquery.easyui.mobile.js"></script>
    @*<script src="/Content/JS/jquery-easyui-1.4.1/jquery.min.js"></script>
        <script src="/Content/JS/jquery-easyui-1.4.1/jquery.easyui.min.js"></script>
        <script src="/Content/JS/jquery-easyui-1.4.1/jquery.easyui.extend.min.js"></script>*@
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/color.css" rel="stylesheet" />
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/icon.css" rel="stylesheet" />
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/gray/easyui.css" rel="stylesheet" />
    <link href="/Content/CSS/bootstrapall/css/bootstrap.css" rel="stylesheet" />
    <script src="/Content/CSS/bootstrapall/js/bootstrap.js"></script>
    <link href='/Content/CSS/font-awesome-4.3.0/css/font-awesome.css' rel='stylesheet' />
    <link href="/Content/CSS/form.css" rel="stylesheet" />
    <script>
        $(function () {
            //主表
            $("#dataTable").datagrid({
                url: "/Dutys/GetAllMod",
                rownumbers: true,
                singleSelect: true,
                striped: true,
                fitColumns: true,
                toolbar: "#toolDiv",
                height: $(window).height() * 0.90
            });
            $("#dl").datalist({
                url: '/Jurisdictions/GetAllMod',
                checkbox: true,
                lines: true,
            });
            ////权限列表
            //$("#tableJur").datagrid({
            //    url: "/Jurisdictions/GetAllMod",
            //    rownumbers: true,
            //    singleSelect: true,
            //    striped: true,
            //    fitColumns: true,
            //    toolbar: "#toolDiv",
            //    height: $(window).height() * 0.90
            //});
            //弹出窗
            $("#addDiv,#JurDiv").window({
                collapsible: false,
                minimizable: false,
                maximizable: false,
                draggable: false,
                resizable: true,
                closed: true,
                center: true,
            });
        });
        function showWork(value) {
            return "<a href='javascript:showEdit(" + value + ")'>编辑</a>&nbsp;&nbsp;<a href='javascript:deleteData(" + value + ")'>删除</a>&nbsp;&nbsp;<a href='javascript:showJur(" + value + ")'>权限设置</a>";
        }
        function showJur(value) {
            return "<input type='checkbox' value='" + value + "' />";
        }
        //添加窗体
        function showAdd() {
            $("#btn").data["id"] = null;
            $("#txt_DutyName").val("");
            $("#txt_DutyMark").val("");
            $("#addDiv").window({
                title: "添加职位",
                closed: false,
            });
        }
        //编辑窗体
        function showEdit(id) {
            $("#btn").data["id"] = id;
            $.post("/Dutys/GetMod", "id=" + id, function (res) {
                $("#txt_DutyName").val(res.DutyName);
                $("#txt_DutyMark").val(res.DutyMark);
                $("#addDiv").window({
                    title: "编辑职位",
                    closed: false,
                });
            })
        }
        //权限窗体
        function showJur(id) {
            $("#btn").data["id"] = id;
            $.post("/Jurisdictions/GetAllMod", function (res) {
                $("#txt_DutyName").val(res.DutyName);
                $("#txt_DutyMark").val(res.DutyMark);
                $("#JurDiv").window({
                    title: "编辑权限",
                    closed: false,
                });
            })
        }
        //删除方法
        function deleteData(DutyID) {
            if (confirm("删除？")) {
                $.post("/Dutys/Delete/", "DutyId=" + DutyID, function (res) {
                    if (res = "True") {
                        $("#dataTable").datagrid("reload");
                    }
                })
            }
        }
        //关闭窗口
        function closeWin() {
            $("#addDiv").window('close');
            $("#JurDiv").window('close');
        }
        //提交职位数据
        function SaveDuty() {
            //验证
            if (!$("#formData").form("validate")) {
                return;
            }
            if ($("#btn").data["id"] == null) {

                //添加
                var info = { "DutyName": $("#txt_DutyName").val(), "DutyMark": $("#txt_DutyMark").val() }
                $.post("/Dutys/Insert", info,
                    function (res) {
                        if (res = "True") {
                            $("#dataTable").datagrid("reload");
                            $("#addDiv").window("close");
                        } else {
                            alert("失败！")
                        }
                    })
            }
            //更新
            if ($("#btn").data["id"] != null) {
                var info = { "DutyID": $("#btn").data["id"], "DutyName": $("#txt_DutyName").val(), "DutyMark": $("#txt_DutyMark").val() }
                $.post("/Dutys/Update", info,
                    function (res) {
                        if (res = "True") {
                            $("#dataTable").datagrid("reload");
                            $("#addDiv").window("close");
                        } else {
                            alert("失败！")
                        }
                    })
            }

        }
        function SaveJur() {
            if ($("#btn").data["id"] != null) {
                var info = { "DutyID": $("#btn").data["id"], "DutyName": $("#txt_DutyName").val(), "DutyMark": $("#txt_DutyMark").val() }
                $.post("/Dutys/Update", info,
                    function (res) {
                        if (res = "True") {
                            $("#dataTable").datagrid("reload");
                            $("#addDiv").window("close");
                        } else {
                            alert("失败！")
                        }
                    })
            }
        }
    </script>
</head>
<body>
    <!-- 职位列表 -->
    <div>
        <table id="dataTable" style="width:98%">
            <thead>
                <tr>
                    <th data-options="field:'DutyID',width:100,formatter:showWork">操作</th>
                    <th data-options="field:'DutyName',width:100">职位名称</th>
                    <th data-options="field:'DutyMark',width:100">职位描述</th>
                </tr>
            </thead>
        </table>
        <div id="toolDiv">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" href="#" onclick="showAdd()">添加</a>
        </div>
    </div>
    <!-- 职位增改窗体 -->
    <div id="addDiv" class="easyui-window" style="padding:15px">
        <form id="formData">
            <table class="tableEdit" style="height:100%;">
                <tr>
                    <th>职位名称：</th>
                    <td><input type="text" class="text easyui-validatebox" data-options="required:true" id="txt_DutyName" /></td>
                </tr>
                <tr>
                    <th>职位描述： </th>
                    <td colspan="5">
                        <textarea cols="40" rows="5" id="txt_DutyMark"></textarea>
                        <input type="hidden" id="key" />
                        <input type="hidden" id="ICID" />
                    </td>
                </tr>
            </table>
        </form>
        <div class="div-bottom">
            <div class='btn-group'>
                <button id='doOk' type='submit' class='btn btn-default' onclick="SaveDuty()"><i class='glyphicon glyphicon-saved'></i>  保存</button>
                <button id='doClose' type='button' class='btn btn-default' onclick="closeWin()"><i class='glyphicon glyphicon-remove'></i>  关闭</button>
            </div>
        </div>
    </div>
    <!-- 权限增改窗体 -->
    <div id="JurDiv" class="easyui-window">
        <ul id="dl" class="easyui-datalist" style="width:470px;height:340px">
            <li data-options="field:'JurID,width:5'"></li>
            <li data-options="field:'JurName,width:5'"></li>
        </ul>
        <div class="div-bottom">
            <div class='btn-group'>
                <button id='doOk' type='button' class='btn btn-default' onclick="SaveJur()"><i class='glyphicon glyphicon-saved'></i>  保存</button>
                <button id='doClose' type='button' class='btn btn-default' onclick="closeWin()"><i class='glyphicon glyphicon-remove'></i>  关闭</button>
            </div>
        </div>
    </div>
</body>
</html>