
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="/Content/JS/jquery-easyui-1.4.1/jquery.min.js"></script>
    <script src="/Content/JS/jquery-easyui-1.4.1/jquery.easyui.min.js"></script>
    <script src="/Content/JS/jquery-easyui-1.4.1/jquery.easyui.extend.min.js"></script>
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/color.css" rel="stylesheet" />
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/icon.css" rel="stylesheet" />
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/gray/easyui.css" rel="stylesheet" />
    <link href="/Content/CSS/bootstrapall/css/bootstrap.css" rel="stylesheet" />
    <script src="/Content/CSS/bootstrapall/js/bootstrap.js"></script>
    <link href='/Content/CSS/font-awesome-4.3.0/css/font-awesome.css' rel='stylesheet' />
    <link href="/Content/CSS/form.css" rel="stylesheet" />
    <script>
        $(function () {
            $("#tableList").datagrid({
                url: "/ChargeCategory/GetAllMod",
                singleSelect: true,
                striped: true,
                fitColumns: true,
                toolbar: "#tableToolDiv",
            })
        })
        function showWork(id) {
            return '<a href="#" onclick="openWin(' + id + ')">编辑</a>&nbsp;&nbsp;<a href="#" onclick="delete(' + id + ')">删除</a>'
        }
    </script>
</head>
<body>
    <div id="tableToolDiv">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" href="#" onclick="openWin()">添加</a>
    </div>
    <table id="tableList" class="tableList" style="width:100%;">
        <thead>
            <tr>
                <th data-options="field:'CCID',width:150,formatter:showWork">操作</th>
                <th data-options="field:'CCName',width:100,">科目名称</th>
                <th data-options="field:'CCColumn1',width:100,">关联字段名1</th>
                <th data-options="field:'CCColumn2',width:100,">关联字段名2</th>
                <th data-options="field:'ISDate',width:120,">是否有起始日期</th>
                <th data-options="field:'CDateColumn',width:150,">日期关联字段</th>
                <th data-options="field:'CCMark',width:100,">说明</th>
            </tr>
        </thead>
    </table>
</body>
</html>