
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="/Content/JS/jquery-easyui-1.4.1/jquery.min.js"></script>
    <script src="/Content/JS/jquery-easyui-1.4.1/jquery.easyui.min.js"></script>
    <script src="/Content/JS/jquery-easyui-1.4.1/jquery.easyui.extend.min.js"></script>
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/color.css" rel="stylesheet" />
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/icon.css" rel="stylesheet" />
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/gray/easyui.css" rel="stylesheet" />
    <link href="/Content/CSS/bootstrapall/css/bootstrap.css" rel="stylesheet" />
    <script src="/Content/CSS/bootstrapall/js/bootstrap.js"></script>
    <link href='/Content/CSS/font-awesome-4.3.0/css/font-awesome.css' rel='stylesheet' />
    <link href="/Content/CSS/form.css" rel="stylesheet" />
    <script>
        $(function () {
            $("#dataTable").datagrid({
                url: "/PayInfo/GetAllMod",
                rownumbers: true,
                singleSelect: true,
                striped: true,
                fitColumns: true,
                height: 400
            })
        })
        function showCheckbox(value, data) {
            return "<input type='checkbox' payID='" + value + "' onChange='showData(this," + value + "," + data.letID + ")' />";
        }
        function showData(ck, payID, letID) {
            if ($(ck).is(":checked")) {
                //判断表格中是否包含数据
                var rows = $("#payTable tbody tr");
                if (rows.length > 0) {
                    var id = $(rows[0]).attr("letID");
                    if (id != letID) {
                        alert("不同")
                        $(ck).removeAttr("checked");
                        return;
                    }
                }
                $.post("/PayInfo/GetMod", "payID=" + payID, function (data) {
                    $("#payTable tbody").append(
                        "<tr letID='" + letID + "' payID='" + payID + "'><td>"
                        + data.CCName + "</td><td>"
                        + data.HNum + "</td><td>"
                        + data.CusName + "</td><td>"
                        + data.PayMoney1 + "</td><td class='m1'>"
                        + (data.Money1 - data.Money2) + "</td><td><input class='m2' type='text' onchange='changeData(this)'/></td><td>"
                        + data.PayPrice + "</td><td>"
                        + data.PayAmount + "</td><td>"
                        + parseData(data.PayBeginDate) + "</td><td>"
                        + parseData(data.PayEndDate) + "</td><td><a href='javascript:deleteData("
                        + payID + ")'</a></td></tr>");
                    opreationData();
                });
            }
            else {
                $("#payTable tbody tr[payID='" + payID + "']").remove();
                opreationData();
            }
        }
        //实际缴费金额
        function changeData(obj) {
            var money2 = parseFloat($(obj).parent().prev().text(), 10);
            var money = parseFloat($(obj).val());
            if (money > money2) {
                alert("实缴金额不能大于应缴剩余金额！")
                $(obj).val(money2);
            }
            opreationData();
        }
        //计算金额
        function opreationData() {
            var m1 = $("#payTable .m1");
            var m2 = $("#payTable .m2");
            var m1Sum = 0;
            var m2Sum = 0;
            for (var i = 0; i < m1.length; i++) {
                m1Sum += parseFloat($(m1[i]).text(), 10);
                if (isNaN(parseFloat($(m2[i]).val(), 10))) {
                    m2Sum = 0;
                } else {
                    m2Sum += parseFloat($(m2[i]).val());
                }
            }
            $("#SumSpan1").text(m1Sum);
            $("#SumSpan2").text(m2Sum);
        }
        function parseData(value) {
            try {
                var date = new Date(parseInt(/\d+/.exec(value)[0]));
                var year = parseInt(date.getFullYear(), 10);
                if (year > 2500 || year < 1900) { return ""; }
                return date.getFullYear() + "-"(date.getMonth() + 1) + "-" + data.getDate();
            } catch (e) {
                return "";
            }
        }
    </script>
</head>
<body>
    <div class="divselect">
        <form id="formData">
            <table class="tableSelect">
                <tr>
                    <th>缴费编号：</th>
                    <td><input type="text" /></td>
                    <th>房号：</th>
                    <td><input type="text" /></td>
                    <th>客户姓名：</th>
                    <td><input type="text" /></td>

                </tr>
                <tr>
                    <th>发起人：</th>
                    <td><input type="text" /></td>
                    <th>收费科目：</th>
                    <td>
                        <select>
                            <option>全部</option>
                            <option>房租</option>
                            <option>押金</option>
                            <option>网费</option>
                        </select>
                    </td>
                    <th>缴费状态：</th>
                    <td>
                        <select>
                            <option>全部</option>
                            <option>待缴费</option>
                            <option>缴费中</option>
                            <option>已缴费</option>
                        </select>
                    </td>
                    <td>
                        &nbsp;&nbsp;
                        <input type="button" value="查询" onclick="Enter()" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="jfDiv" class="divselect">
        <form id="PayForm">
            <table id="payTable" class="ManualTable" style="width:100%">
                <thead>
                    <tr style="font-size: 14px">
                        <th scope='col' class='rounded-company'>收费科目</th>
                        <th scope='col' class='rounded-company'>房号</th>
                        <th scope='col' class='rounded-company'>客户姓名</th>
                        <th scope='col' class='rounded-company'>应缴总金额</th>
                        <th scope='col' class='rounded-company'>应缴剩余金额</th>
                        <th scope='col' class='rounded-company'>实缴金额</th>
                        <th scope='col' class='rounded-company'>单价</th>
                        <th scope='col' class='rounded-company'>数量</th>
                        <th scope='col' class='rounded-company' style='width:220px;'>开始时间</th>
                        <th scope='col' class='rounded-company'>结束时间</th>
                        <th scope='col' class='rounded-company'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @* 数据追加 *@
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan='10' class='rounded-foot-left' style='text-align:left'>
                            <em>应缴剩余总金额:</em><span id='SumSpan1' style='margin-left:30px;color:red;font-weight:bold;font-size:16px;'>1000</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <em>实缴总金额:</em><span id='SumSpan2' style='margin-left:30px;color:red;font-weight:bold;font-size:16px;'>1000</span>
                        </td>
                        <td class='rounded-foot-right'>&nbsp;</td>
                    </tr>
                </tfoot>
            </table>
        </form>
        <div id="bt_a" style="width:100%;text-align: center;">
            <input type="button" value="保存" style="width:100px" />
        </div>
    </div>
    <table id="dataTable" style="width:100%;">
        <thead>
            <tr>
                <th data-options="field:'PayID',width:50,formatter:showCheckbox">勾选</th>
                <th data-options="field:'PayNum',width:180">缴费编号</th>
                <th data-options="field:'HNum',width:100">房号</th>
                <th data-options="field:'CusName',width:100">客户姓名</th>
                <th data-options="field:'CCName',width:100">收费科目</th>
                <th data-options="field:'PayPrice',width:100">单价</th>
                <th data-options="field:'PayAmount',width:100">数量</th>
                <th data-options="field:'PayMoney1',width:100">应缴金额</th>
                <th data-options="field:'PayMoney2',width:100">实缴金额</th>
                <th data-options="field:'PayBeginDate',width:180,formatter:function(value){return parseData(value);}">开始时间</th>
                <th data-options="field:'PayEndDate',width:180,formatter:function(value){return parseData(value);}">结束时间</th>
                <th data-options="field:'EmpName',width:100">发起人</th>
                <th data-options="field:'PayState',width:100">状态</th>
            </tr>
        </thead>
    </table>
</body>
</html>

