
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>万树房屋租赁系统</title>
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/gray/easyui.css" rel="stylesheet" />
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/color.css" rel="stylesheet" />
    <link href="/Content/JS/jquery-easyui-1.4.1/themes/icon.css" rel="stylesheet" />
    <link href="/Content/css/bootstrapall/css/bootstrap.css" rel="stylesheet" />
    <script src="/Content/JS/jquery-easyui-1.4.1/jquery.min.js"></script>
    <script src="/Content/JS/jquery-easyui-1.4.1/jquery.easyui.min.js"></script>
    <script src="/Content/JS/jquery-easyui-1.4.1/jquery.easyui.extend.min.js"></script>
    <script src="/Content/css/bootstrapall/js/bootstrap.js"></script>
    <link href='/Content/css/font-awesome-4.3.0/css/font-awesome.css' rel='stylesheet' />
    <link href="/Content/CSS/style.css" rel="stylesheet" />
    <style>
        body {
            font-family: 'MicroSoft Yahei';
            font-size: 12px;
            color: #333;
            -webkit-text-size-adjust: none;
        }

        ul,
        ol,
        li {
            list-style: none;
        }

        .lanmu-list li a {
            text-decoration: none;
            word-wrap: break-word;
            outline: none;
            hide-focus: expression(this.hideFocus=true);
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
        }

            .lanmu-list li a:hover {
                text-decoration: none;
            }



        /* lanmu-content */
        .lanmu-content {
            width: 160px;
        }

            .lanmu-content .listmore {
                display: block;
                text-align: center;
                height: 25px;
                border-top: 0;
                background: #eee;
                color: #1594d1;
                font: normal 12px/25px Tahoma, Verdana;
            }

        .lanmu-list {
            display: block;
        }

            .lanmu-list li {
                padding-top: 2px;
            }

                .lanmu-list li a {
                    display: block;
                    height: 30px;
                    background: #f9f9f9;
                    border-bottom: 1px solid #eee;
                    border-top: 2px solid #fff;
                    border-left: 2px solid #4D910C;
                    border-right: 1px solid #eee;
                    font: normal 13px/28px Georgia "Microsoft YaHei";
                    padding-left: 25px;
                    line-height: 30px;
                }

                    .lanmu-list li a:hover {
                        padding-left: 35px;
                    }

                    .lanmu-list li a:hover,
                    .lanmu-list li a.current {
                        border-left: 2px solid #1594d1;
                        background-color: #0092DC;
                        color: white;
                        font-weight: bold;
                    }

        .lanmu-content .title_a {
            display: block;
            background-color: #0092DC;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: white;
            font-family: 'Microsoft YaHei';
            border-bottom: 1px white solid;
            cursor: pointer;
        }

        .currentbg {
            background: #ff6a00;
        }

        .he .panel-title {
            font-size: 16px !important;
            font-weight: bold !important;
            height: 28px !important;
            line-height: 28px !important;
            border-bottom: 0px solid #927ab5 !important;
        }

        .head {
            border-bottom: 0px solid #927ab5 !important;
        }

        .he {
            border-bottom: 1px solid #927ab5 !important;
        }

        #cc .accordion-header {
            background-color: #EBEEF1 !important;
        }

        #cc .panel-title {
            /*// color: #563d7c !important;*/
            font-size: 14px !important;
            font-weight: normal;
        }


        #cc .accordion .accordion-header:hover,
        #aa .accordion .accordion-header .panel-title:hover {
            color: #4D910C !important;
            background: #f9f9f9 !important;
            filter: none;
            font-weight: bold;
        }

        #cc .accordion .accordion-header-selected {
            background: #f9f9f9 !important;
            color: #4D910C !important;
        }

            #cc .accordion .accordion-header-selected .panel-title {
                background: #f9f9f9 !important;
                color: #4D910C !important;
            }

        #cc .accordion .accordion-header .panel-title,
        #aa .panel .panel-header .panel-title {
            line-height: 25px !important;
        }

        #cc .panel-header {
            height: 34px !important;
        }


        .tabs-title {
            font-size: 16px !important;
            font-weight: 100 !important;
        }

        .layout-split-west {
            border-right: 5px solid #fff;
        }

        .nav-right {
            height: 53px;
            float: right;
        }

            .nav-right > li {
                display: block;
                padding: 0 10px;
                height: 53px;
                line-height: 53px;
                text-decoration: none;
                color: #FFF !important;
                float: left;
                border-right: 1px #ddd solid;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
            }

        #litime {
            height: 53px;
            line-height: 25px;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
        }

        .nav-right > li > a {
            color: #fff;
        }

        .nav-right > li:first-child {
            border-left: 1px #ddd solid;
            height: 53px;
            line-height: 25px;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
        }

        .nav-right > li:hover {
            background: #08a1ef;
        }

        .badge {
            background-color: #fff;
            color: red;
        }

        .dropdown-menu {
            min-width: 50px;
        }

            .dropdown-menu > li > a {
                padding: 3px 8px;
            }

            .dropdown-menu.right {
                right: 0px;
                left: auto;
            }

        #aa .panel:first-child {
            border-top: 1px solid #eee !important;
            margin-top: 1px;
        }


        /* 滚动条的宽度 */

        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        /*滚动槽的颜色 */

        ::-webkit-scrollbar-track-piece {
            background-color: #eee;
        }

        /* 滑轮的颜色 */
        ::-webkit-scrollbar-thumb:vertical {
            height: 50px;
            background-color: #606060;
            border: 1px solid #ddd;
            border-radius: 10px;
            background: -webkit-linear-gradient(left, #ddd 0, rgba(116, 116, 116, 0.40) 30%, #ddd 100%);
        }

        ::-webkit-scrollbar-thumb:horizontal {
            height: 50px;
            background-color: #1594d1;
            border: 1px solid #eee;
            border-radius: 10px;
        }
    </style>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',split:false" style="height: 73px; border-top: 1px solid #333; border-left: 1px solid #333; border-right: 1px solid #333; ">
        <header>
            <h1><img src="/Content/images/admin_logo.png" /></h1>
            <ul class="rt_nav">
                <li>
                    <a href="#" class="admin_icon">
                        @* 将session中保存的登录信息展示到这里 *@
                        @{
                            var user = Session["user"] as Mod.Mod_Employs;
                            if (user != null)
                            {
                                @user.EmpName
                            }
                        }
                    </a>
                </li>
                <li><a href="Home/Logout" class="quit_icon">安全退出</a></li>
            </ul>
        </header>
    </div>
    <div style="width: 210px;" id="cc" data-options="region:'west',split:false,headerCls:'he'">
        <div id="aa" class="easyui-accordion" data-options="border:0">
            <div style='padding:5px;width:100%;overflow:auto' title="&nbsp;&nbsp;<i class='fa fa-folder-open'></i>&nbsp;&nbsp;公司信息管理">
                <ul class="lanmu-list">
                    <li><a href='#' url="/DepartsmentPage/Index" title="部门管理">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;部门管理 </a></li>
                </ul>
                <ul class="lanmu-list">
                    <li><a href='#' url="/DutysPage/Index" title="职位管理">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;职位管理 </a></li>
                </ul>
                <ul class="lanmu-list">
                    <li><a href='#' url="/EmploysPage/Index" title="员工管理">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;员工管理 </a></li>
                </ul>
            </div>
            <div style='padding:5px;width:100%;overflow:auto' title="&nbsp;&nbsp;<i class='fa fa-folder-open'></i>&nbsp;&nbsp;业务信息管理">
                <ul class="lanmu-list">
                    <li><a href='#' url="/CustomerPage/Index" title="客户信息管理">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;客户信息 </a></li>
                </ul>
                <ul class="lanmu-list">
                    <li><a href='#' url="/HouseInfo/Index" title="房屋信息">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;房屋信息 </a></li>
                </ul>
                <ul class="lanmu-list">
                    <li><a href='#' url="/LetPage/Index" title="租房信息">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;租房信息 </a></li>
                </ul>
                <ul class="lanmu-list">
                    <li><a href='#' title="报修管理">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;报修管理 </a></li>
                </ul>
                <ul class="lanmu-list">
                    <li><a href='#' url="/PayInfoPage/Index" title="缴费管理">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;缴费管理 </a></li>
                </ul>
                <ul class="lanmu-list">
                    <li><a href='#' url="/LetPage/WarningView" title="房租预警">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;房租预警 </a></li>
                </ul>
            </div>
            <div style='padding:5px;width:100%;overflow:auto' title="&nbsp;&nbsp;<i class='fa fa-folder-open'></i>&nbsp;&nbsp;数据报表">
                <ul class="lanmu-list">
                    <li><a href='#' url="/ChartPage/Index1" title="房租分类报表">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;房租分类报表 </a></li>
                </ul>
                <ul class="lanmu-list">
                    <li><a href='#' url="/ChartPage/Index2" title="年度收入报表">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;年度收入报表 </a></li>
                </ul>
            </div>
            <div style='padding:5px;width:100%;overflow:auto' title="&nbsp;&nbsp;<i class='fa fa-folder-open'></i>&nbsp;&nbsp;系统管理">
                <ul class="lanmu-list">
                    <li><a href='#' url="/ChargeCategory/Index" title="收费科目管理">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;收费科目管理 </a></li>
                    <li><a href='#' url="/Jurisdictions/Index" title="权限管理">&nbsp;&nbsp;<i class='fa fa-copy'></i>&nbsp;&nbsp;权限管理 </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div style="padding:5px;" data-options="region:'center',border:0">
        <div id="tts" class="easyui-tabs" data-options="fit:true,border:1,plain:true,tabHeight:34"></div>
    </div>
</body>

</html>


<script type="text/javascript">
    $(function () {
        //页面初始时显示首页
        showTab("首页", "/Home/Default");

        $(".lanmu-list li a").click(function () {
            showTab($(this).attr("title"), $(this).attr("url"));
        });
    });


    function showTab(title, url) {
        //选项卡内容为框架页面
        var con = '<iframe id="' + title + '" name="' + title + '"  scrolling="auto"  frameborder="0"  src="' + url + '" style="width:100%;height:98.5%;padding:10px"></iframe>';

        //如果是已经打开的选项卡，则切换到已打开的
        if ($("#tts").tabs("exists", title)) {
            $('#tts').tabs('select', title);
            //获取选中的选项卡并刷新
            var tab = $('#tts').tabs('getSelected');
            $("#tts").tabs("update", {
                tab: tab,
                options: {
                    content: con
                }
            });
        } else {
            //创建新的选项卡
            $('#tts').tabs('add', {
                title: title,
                content: con,
                cache: false,
                closable: true
            });
        }
    }

    function closeTab(title) {
        $('#tts').tabs("close", title);
    }

</script>
